<div class="container m-t-10">
    <button class="btn btn-success add-employee" routerLink="/add-employee">ADD</button>
    <table class="table table-dark table-hover table-striped">
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Department</th>
          <th>Salary</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of EmployeeListData">
          <td>{{employee.id}}</td>
          <td>{{employee.name}}</td>
          <td>{{employee.department}}</td>
          <td>{{employee.salary}}</td>
          <td> 
            <button class="btn btn-warning" routerLink="/edit-employee/{{employee.id}}">Edit</button> &nbsp; 
            <button class="btn btn-danger" (click)="removeEmployee(employee)">Delete</button>
          </td>
        </tr>
        <tr *ngIf="(EmployeeListData)?.length==0">
          <td colspan="5">
            No records found.
          </td>
        </tr>
      </tbody>
    </table>
</div>
